address=/jad/{{IP}}
user=root
listen-address={{IP}},127.0.0.1
server=8.8.8.8
local=/robot/
domain=robot
dns-forward-max=4096

dhcp-range=10.0.1.1,10.0.1.255
dhcp-authoritative
dhcp-option=3,10.0.0.1
dhcp-option=6,10.0.0.1

dhcp-boot=pxelinux.0
enable-tftp
tftp-root=/pxe

log-queries
log-dhcp
