address=/jad/{{IP}}
server=/local/8.8.8.8

user=root
server=8.8.8.8
dns-forward-max=4096
domain=lan
local=/lan/
domain-needed
expand-hosts
bogus-priv
no-negcache
no-hosts
localise-queries

dhcp-leasefile=/etc/dnsmasq.leases
dhcp-authoritative
dhcp-range=10.0.1.1,10.0.1.255
dhcp-option=3,10.0.0.2
dhcp-option=6,0.0.0.0

dhcp-boot=pxelinux.0
enable-tftp
tftp-root=/pxe
#log-queries
#log-dhcp

#leases
dhcp-hostsfile=/etc/dnsmasq-hosts.conf

